/* ========== Font ========== */
@font-face {
    font-family: 'mainFont';
    src: url('../fonts/AlRaiMediaBlack.otf');
    font-style: normal
}

/* ========== Variables ========== */
:root {
    /* ========== Colors ========== */
    --mainColor: #FFFCF2;
    --secondColor: #F1EFE9;
    --shiftColor: #C3A103;
    --headerColor: #FFFEFA;
    --fontColor: #000000;
}

/* ========== General Stylling ========== */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'mainFont';
}

.main .services,
.main .news,
.main .contact {
    padding: 70px 350px;
}

.main .sectionTitle {
    position: relative;
    width: fit-content;
    font-size: 48px;
    margin-bottom: 48px;
}

.main .sectionTitle::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 3px;
    background: var(--shiftColor);
}

.main .sectionContent {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .sectionSubTitle {
    font-size: 28px;
    margin-bottom: 8px;
}

.main .sectionText {
    font-size: 20px;
    margin-bottom: 16px;
    text-align: justify;
}

.btn {
    position: relative;
    width: fit-content;
    margin: 10px 0;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    background: var(--shiftColor);
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: var(--fontColor);
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: var(--mainColor);
    direction: rtl;
    transition: .5s all ease-in-out;
}

html {
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--shiftColor);
}

/* ========== Header ========== */
.nav {
    position: fixed;
    width: 100%;
    height: 50px;
    padding: 0 125px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--headerColor);
    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    z-index: 10000;
    transition: .5s all ease-in-out;
}

.nav .controlers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav img {
    width: 75px;
}

.nav .headerControling {
    display: none;
}

.nav .navMenu,
.nav .navClose {
    display: none;
}

.nav ul {
    display: flex;
    gap: 50px;
    transform: translateX(-50px);
    transition: .5s all ease-in-out;
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    position: relative;
    transition: .3s all ease-in-out;
}

.nav ul li a:hover {
    color: var(--shiftColor);
}

.nav .dateTime,
.nav .dateTime div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .dateTime {
    gap: 16px;
    transition: .5s all ease-in-out;
}

.nav .dateTime img {
    width: 25px;
    margin: 0 5px;
}

.nav .dateTime p {
    transform: translateY(2px);
}

/* ========== End Header ========== */

/* ========== Main Content ========== */

/* ========== Hero ========== */
.main .hero {
    position: relative;
    width: 100%;
    min-height: 1080px;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main .hero::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, var(--mainColor) -75%, transparent);
    z-index: -1;
}

.main .hero .heroImg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.main .hero .heroContent {
    position: relative;
    width: 550px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, .75);
    border-radius: 25px;
    transform: translateX(50%);
    backdrop-filter: blur(3px);
    text-align: center;
    overflow: hidden;
}

.main .hero .heroContent .patternHalf1,
.main .hero .heroContent .patternHalf2 {
    position: absolute;
    width: 40%;
    margin: 0;
    opacity: 10%;
}

.main .hero .heroContent .patternHalf1 {
    bottom: 0;
    left: 0;
}
.main .hero .heroContent .patternHalf2 {
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}

.main .hero .heroContent img {
    width: 250px;
    margin-bottom: 16px;
}

.main .hero .heroContent .heroMainText {
    font-size: 48px;
    color: var(--shiftColor);
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, .1);
}

.main .hero .heroContent .heroSecondText {
    font-size: 22px;
    text-shadow: 1px 1px 2.5px rgba(0, 0, 0, .1);
}

.main .hero .pattern {
    position: absolute;
    width: 485px;
    height: 458px;
    bottom: 0;
    right: 25px;
    z-index: -1;
    opacity: .25;
}
/* ========== End Hero ========== */

/* ========== About ========== */
.main .about {
    position: relative;
    width: 100%;
    height: fit-content;
    text-align: center;
    padding: 75px 350px 25px;
}

.main .about .aboutTitle {
    font-size: 48px;
    margin-bottom: 24px;
}

.main .about .aboutText {
    font-size: 24px;
    margin-bottom: 64px;
    text-align: justify;
}

.main .about .aboutWriter {
    font-size: 24px;
}

.main .about .patternHalf1,
.main .about .patternHalf2 {
    position: absolute;
    width: 20%;
    margin: 0;
    opacity: 10%;
}

.main .about .patternHalf1 {
    bottom: 0;
    left: 0;
}
.main .about .patternHalf2 {
    bottom: 0;
    right: 0;
    transform: rotate(270deg);
}
/* ========== End About ========== */

/* ========== Services ========== */
.main .services {}

.main .services .sectionContent {
    
}

.main .services .column1 {
    width: 45%;
}

.main .services .column2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Swiper Stylling */
.swiper {
    width: 650px;
    height: 550px;
    border-radius: 25px;
    border: 5px solid var(--shiftColor);
}

.swiper img {
    width: 100%;
    height: 100%;
}

.swiper-button-next, .swiper-button-prev {
    color: var(--shiftColor) !important;
}

.swiper-pagination-bullet-active {
    background: var(--shiftColor) !important;
}

.swiper img.imgShowen {
    position: absolute;
    width: 40px;
    height: 40px;
    z-index: 1000;
    top: 10px;
    right: 16px;
    z-index: 10000;
    cursor: pointer;
}

.imagesPreview {
    position: absolute;
    width: 85vw;
    height: fit-content;
    top: 0;
    left: 50%;
    transform: translateX(250%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 5px solid var(--shiftColor);
    background: var(--mainColor);
    overflow: hidden;
    z-index: -10000;
    transition: .5s all ease-in-out;
}

.imagesPreview.active {
    transform: translateX(-30%);
    z-index: 10000;
}

.imagesPreview img {
    
}

.imagesPreview .close {
    position: absolute;
    width: 50px;
    top: 25px;
    right: 25px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid var(--shiftColor);
    z-index: 10001;
}
body::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 0%;
    top: 0;
    background: var(--mainColor);
    transition: .5s all ease-in-out;
    z-index: -10000;
}
body.imgShown::after {
    width: 100%;
    height: 100%;
    z-index: 1;
}
/* ========== End Services ========== */

/* ========== News ========== */
.main .news {
    background: #F9F2D9;
}

.main .news .newsContent {
    width: 48%;
}
/* ========== End News ========== */

/* ========== Contact ========== */
.main .contact {

}

.main .contact .sectionContent {
    /* justify-content: center; */
}

.main .contact .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin: 5px 0;
    font-size: 20px;
}

.main .contact .row img {
    width: 25px;
}

.main .contact .column2 img {
    display: none;
}
/* ========== End Contact ========== */

/* ========== Footer ========== */
.footer {
    width: 100%;
    padding: 25px 0 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    background: #f9f2d9;
}

.footer img {
    width: 125px;
}

.footer a {
    color: var(--shiftColor);
}